    <div  style="background-color:aliceblue" >
        <div class="row h-50 align-items-center justify-content-between">
            <div class="col-12 col-sm-10 col-md-8">
                <div class="welcome-content">
                    <h2 >AQUI TEM O MELHOR PROFISSIONAL PARA SUA OBRA</h2>
                </div>
            </div>
        </div>
    </div>
<P></P>
<P></P>
<partial name="_Carousel">