################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebPrestadores/bin/Debug/net6.0
/WebPrestadores/obj
/.vs/TCC/FileContentIndex
/.vs/TCC/v17/.suo
/.vs/TCC
