<br />
<img src="~/images/administrador.jpg" alt="Àrea de Administração"  class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Área do Administrador</h2>
        </p>
    </div>
</div>