@model PrestadorServico

<h1>Lista de Cidades</h1>

<p>
    <a asp-action="AdicionarCidade" asp-route-idPrestadorServico="@Model.Id">Adicionar Cidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.ListaPrestadorServicoCidade)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Nome)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
