@model PrestadorServico

<h3>Avaliação feita pelos usuários</h3>
<br />
<partial name="_AvaliacaoResumo" for="@Model" />
<a action="action" class="btn btn-info" style="background-color:lightyellow" onclick="history.go(-1);"> <i class="glyphicon glyphicon-step-backward"></i> Voltar </a>