@model PrestadorServicoListViewModel

@using Microsoft.AspNetCore.Identity;
@using WebPrestadores.Repositories.Interfaces;
@inject IPrestadorServicoRepository _prestadorServicoRepository;
@inject UserManager<IdentityUser> _userManager;
@{
    var prestador = _prestadorServicoRepository.GetPrestadorServicoListViewModel(_userManager.GetUserId(User), "")?.PrestadoresServico.ToList();
}

<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < prestador.Count; i++)
        {
            var active = i == 1 ? "active" : "";
            <div class="carousel-item @active">
                <partial name="_PrestadorResumo" for="@prestador[i]">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    .carousel-item {
        text-align: center;
    }
</style>