@model PrestadorServico

<div class="col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
    <h5>Avaliação : 5 estrelas</h5>
    <h3>@Model.Nome</h3>
    <p>@Model.Descricao</p>
</div>