@model PrestadorServicoListViewModel

<div>
    <h2>@Model.CategoriaServicoAtual</h2>
</div>
<hr />

@foreach (var prestador in Model.PrestadoresServico)
{
    <div class="col-sm-4 col-md-4 col-lg-4">
        <partial name="_PrestadorResumo" for="@prestador">
    </div>
}