@model PrestadorServicoListViewModel

<div>
    <h2>@Model.CategoriaServicoAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var prestador in Model.PrestadoresServico)
        {
            <partial name="_PrestadorServicoResumo" for="@prestador" />
        }
    </div>
</div>